<div class="bg-img-anagrafica">
  <section class="from-fixed-navbar">
    <div class="container-fluid">
      <div class="row row-margin">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card card-selection mt-5">
            <div class="card-body text-center mt-2">
              <p class="mt-2" style="font-size: 24px; font-weight: bold;">Siti</p>
              <p class="mt-4">Crea/Aggiorna un sito museale <br>gestito da Kairos.</p>
              <button class="btn btn-outline-kairos mt-3" (click)="goToSitoView()">Gestisci</button>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card card-selection mt-5">
            <div class="card-body text-center mt-2">
              <p class="mt-2" style="font-size: 24px; font-weight: bold;">Tipologia Tickets</p>
              <p class="mt-4">Crea/Aggiorna una tipologia di ticket <br>da proporre e vendere al pubblico di Kairos.</p>
              <button class="btn btn-outline-kairos mt-3" (click)="goToTicketTipologyView()">Gestisci</button>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card card-selection mt-5">
            <div class="card-body text-center mt-2">
              <p class="mt-2" style="font-size: 24px; font-weight: bold;">Tour Operators</p>
              <p class="mt-4">Crea/Aggiorna un TourOperator <br>che ha relazioni con Kairos.</p>
              <button class="btn btn-outline-kairos mt-3" (click)="goToTourOperatorsView()">Gestisci</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
