<div class="bg-img">
  <p class="text-center header-title"><span>TourApp</span></p>
  <p class="text-center header-subtitle mt-1"><span>Gestisci i tuoi siti museali da un unico punto!</span></p>
  <section class="bg-section">
    <div class="container-fluid">
      <div class="row row-margin">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card text-center mb-4">
            <p class="header-subtitle mt-4">In quale sito ti trovi al momento?</p>
            <div class="card-body row mb-3">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection" style="cursor: pointer">
                  <div class="card-body text-center mt-2">
                    <p class="mt-2" style="font-size: 20px;">Castello Murat</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection" style="cursor: pointer">
                  <div class="card-body text-center mt-2" >
                    <p class="mt-2" style="font-size: 20px; cursor: pointer">Chiesetta Piedigrotta</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



