<div class="bg-img-ticket">
  <section class="from-fixed-navbar">
    <div class="container-fluid">
      <div class="row row-margin">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card mb-4">
            <div class="card-body row">
              <p class="mt-3 ml-3" style="font-size: 24px; font-weight: bold;">Ticket Museale Standard</p>
            </div>
            <hr>
            <div class="card-body row mb-3">
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="card card-selection">
                  <div class="card-body mt-2">
                    <div class="form-group row">
                      <label for="tipologiaTicket" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Tipologia Ticket</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <select type="text" class="form-control" id="tipologiaTicket" [(ngModel)]="ticketStandard.tipologiaTicket">
                          <option *ngFor="let ticketTipology of ticketTipologyList" [ngValue]="ticketTipology">{{ticketTipology.nome}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="sito" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Sito</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div *ngFor="let site of siteList" >
                          <input type="checkbox" id="sito" class="sitoCheckbox" (change)="selectSite(site)" > &nbsp;{{site.nome}}
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="tourOperator" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">TourOperator</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <select type="text" class="form-control" id="tourOperator" [(ngModel)]="ticketStandard.tourOperator">
                          <option value=""></option>
                          <option *ngFor="let tourOperator of tourOperatorList" [ngValue]="tourOperator" >{{tourOperator.societa}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="stampa" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Stampa Ticket</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <select class="form-control" id="stampa" [(ngModel)]="stampa">
                          <option value="multiple" >SINGOLA</option>
                          <option value="single">MULTIPLA</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="nazione" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Nazione</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <select class="form-control" id="nazione" [(ngModel)]="ticketStandard.nazione">
                          <option value="ITALIA" ngValue="ITALIA">ITALIA</option>
                          <option value="GERMANIA" ngValue="GERMANIA">GERMANIA</option>
                          <option value="FRANCIA" ngValue="FRANCIA">FRANCIA</option>
                          <option value="SPAGNA" ngValue="SPAGNA">SPAGNA</option>
                          <option value="RUSSIA" ngValue="RUSSIA">RUSSIA</option>
                          <option value="ALTRO" ngValue="ALTRO">ALTRO</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="card card-selection">
                  <div class="card-body mt-2">
                    <div class="form-group row">
                      <label for="numeroIngressi" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">N. Ingressi</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <input type="number" class="form-control" id="numeroIngressi" [(ngModel)]="ticketStandard.nIngressi" (change)="calculateTotalEuro()">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="totaleEuro" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Totale </label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <p type="text" class="form-control-plaintext" id="totaleEuro" value="totaleEuro">{{totaleEuro}} €</p>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-outline-kairos mt-5 col-xl-12 col-lg-12 col-md-12 col-sm-12" (click)="createOrUpdateTicketStandard()" [disabled]="isTotaleEuroNotPresent">Crea Ticket</button>
                <button class="btn btn-outline-kairos mt-3 col-xl-12 col-lg-12 col-md-12 col-sm-12" (click)="generateFattura()" [disabled]="isTicketNotCreatedYet">Crea Ricevuta</button>
                <button class="btn btn-outline-kairos mt-3 col-xl-12 col-lg-12 col-md-12 col-sm-12" (click)="reset()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
