<div class="bg-img-ticket">
  <section class="from-fixed-navbar">
    <div class="container-fluid">
      <div class="row row-margin">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card card-selection mt-5">
            <div class="card-body text-center mt-2">
              <p class="mt-2" style="font-size: 24px; font-weight: bold;">Ticket Museale Standard</p>
              <p class="mt-4">Genera ticket validi per l'accesso ai siti di Pizzo <br>gestiti da Kairos.</p>
              <button class="btn btn-outline-kairos mt-3" (click)="goToView('ticketStandard')">Crea</button>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card card-selection mt-5">
            <div class="card-body text-center mt-2">
              <p class="mt-2" style="font-size: 24px; font-weight: bold;">Ticket VirtualTour</p>
              <p class="mt-4">Genera ticket che danno il completo accesso ai contenuti multimediali <br>interamente prodotti da Kairos.</p>
              <button class="btn btn-outline-kairos mt-3"  (click)="goToView('ticketVirtual')">Crea</button>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card card-selection mt-5">
            <div class="card-body text-center mt-2">
              <p class="mt-2" style="font-size: 24px; font-weight: bold;">Verifica Ticket Museale Standard</p>
              <p class="mt-4">Verifica i ticket tramite codice identificativo generato da Kairos <br>e convalidane l'accesso.</p>
              <button class="btn btn-outline-kairos mt-3" (click)="goToView('verifyTicketStandard')">Verifica</button>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card card-selection mt-5">
            <div class="card-body text-center mt-2">
              <p class="mt-2" style="font-size: 24px; font-weight: bold;">Attiva Ticket VirtualTour</p>
              <p class="mt-4">Verifica i ticket tramite codice identificativo generato da Kairos <br>e attivane l'accesso ai contenuti multimediali.</p>
              <button class="btn btn-outline-kairos mt-3" (click)="goToView('verifyTicketVirtual')">Attiva</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
