<div class="bg-img-anagrafica">
  <section class="from-fixed-navbar">
    <div class="container-fluid">
      <div class="row row-margin">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card mb-4">
            <div class="card-body row">
              <p class="mt-3 ml-3" style="font-size: 24px; font-weight: bold;">Gestisci Sito</p>
              <div class="ml-auto mt-3 mr-3">
                <button ngbButton class="btn btn-outline-kairos" (click)="toggleCreateOrUpdatePanel('create')">Crea nuovo Sito</button>
              </div>
            </div>
            <hr>
            <div class="card-body row mb-3">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection">
                  <div class="card-body mt-2">
                    <p style="font-weight: bold">Siti disponibili</p>
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Descrizione Breve</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let site of siteList; index as i">
                          <td>{{i + 1}}</td>
                          <td>{{site.nome}}</td>
                          <td>{{site.descrizioneBreve}}</td>
                          <td class="text-center"><span style="cursor: pointer" ><fa-icon [icon]="faPencilAlt" (click)="moveForUpdate(site)"></fa-icon></span> &nbsp; <span style="cursor: pointer" ><fa-icon [icon]="faTrashAlt" (click)="deleteSite(site)"></fa-icon></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card card-selection" *ngIf="isPanelUpdateVisible">
                  <div class="card-body mt-2">
                    <div class="form-group row">
                      <label for="nomeUpdate" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Nome Sito</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <input type="text" class="form-control" id="nomeUpdate" [(ngModel)]="siteForUpdate.nome">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="descrizioneBreveUpdate" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Descrizione Breve</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <input type="text" class="form-control" id="descrizioneBreveUpdate" [(ngModel)]="siteForUpdate.descrizioneBreve">
                      </div>
                    </div>
                    <button class="btn btn-outline-kairos mt-2 col-xl-12 col-lg-12 col-md-12 col-sm-12" (click)="createOrUpdateSite('update')">Aggiorna Sito</button>
                  </div>
                </div>
                <div class="card card-selection" *ngIf="isPanelCreateVisible">
                  <div class="card-body mt-2">
                    <div class="form-group row">
                      <label for="nome" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Nome Sito</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <input type="text" class="form-control" id="nome" [(ngModel)]="site.nome">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="descrizioneBreve" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">Descrizione Breve</label>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <input type="text" class="form-control" id="descrizioneBreve" [(ngModel)]="site.descrizioneBreve">
                      </div>
                    </div>
                    <button class="btn btn-outline-kairos mt-2 col-xl-12 col-lg-12 col-md-12 col-sm-12" (click)="createOrUpdateSite('create')">Crea Sito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
